<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--===================== For the server =====================-->
    
    <!--IIS-->
    <add key="W3SVC" value="World Wide Web Publishing Service" />
    <!--=================-->
    
    <!--Application pool-->
    <add key="appPool" value="SigmaDev" />
    <!--=================-->
    
    <!--Site-->
    <add key="site" value="AppSigma" />
    <!--=================-->
    
    <!--Windows service-->
    <add key="windowsService" value="Application Identity" />
    <!--=================-->
    
    <!--Drive-->
    <add key="drive" value="C:\" />
    <add key="minGBBeforeNotif" value="50" />
    <!--=================-->
    
    <!--Coordonnées serveur de messagerie-->
    <add key="EMAIL" value="" />
    <add key="SMTP_HOST" value="" />
    <add key="SMTP_PORT" value="25" />
    <add key="SMTP_USER" value="" />
    <add key="SMTP_PASSWORD" value="" />
    <add key="EmailDisplayName" value="Automation Monitoring" />
    <add key="ENABLE_SSL" value="true" />
    <!--================================-->
    <!--List_Email_To-->
    <add key="List_Email_To" value="" />
    <!--=================-->
    <!--List_Email_CC-->
    <!--<add key="List_Email_CC" value="" />-->
    <!--=================-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>